/* <<<<<<< HEAD */
:root{
    --white: #FFFFFF;
    --hard-white:#EEEEEE;
    --blue: #2196F3;
    --black: #212121;
    --gray: #757575;
    --hard-gray:#2F303A;
    --light-gray:#F5F4FA;
  }

a{
    text-decoration:none;
}

ul{
list-style: none;
}

.nav {
    
}

.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.nav-logo-web{
    
}
.nav-logo-studio{
    color:var(--black)
}

.nav-list {
    
}

.nav-item {
 
}

.nav-link:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
    
}

.nav-link {
    ont-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts {

}

.contacts-list-top {

}

.contacts-list-item {
    
}

.contacts-list_item-link {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.contacts-list_item-link:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #2196F3;
     
}

.hero {
    background: #2F303A;
}

.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.hero-button{
    background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
border: 0;
}

.hero-link {
 
}

.about {

}

.about-title {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
      } 

.about-list {

}

.about-list_item {

}

.about-list_item-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}

.about-list_item-paragraph {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #757575;
}

.gallery {

}

.gallery-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

letter-spacing: 0.03em;

color: #212121;

}

.gallery-list {

}

.gallery-list_item {

}

.workers {
    background: #F5F4FA;
}

.workers-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

letter-spacing: 0.03em;

color: #212121;

}

.workers-list {

}

.workers-list_item {
    background: #FFFFFF;
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.workers-list_item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    

    letter-spacing: 0.03em;
    
    color: #212121;
     
}

.workers-list_item-paragraph {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


letter-spacing: 0.03em;

color: #757575;

}

.contacts {

}

.contacts-footer {
    background: #2F303A;
}

.contacts-footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
    
}

.contacts-footer-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
}

.contacts-list-bottom {

}

.contacts-list_item {

    
}

.contacts-list_item-link-street{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;

}

.contacts-list_item-link:hover {
 
}

.portfolio {

}

.portfolio-title {
visibility: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px; position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}

.portfolio-list {

}

.portfolio-list_item:hover {
   
}

.portfolio-list_item{
 
}

.portfolio-list-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
background: #2196F3;
/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
    
}


.projects {

}

.projects-list {

}

.projects-list_item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.projects-list_title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;

}

.projects-list_paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}

.active {

}

.contacts-footer {

}
.contacts-footer-logo {
    
}

.contacts-footer-studio{
    
}

.contacts-list-bottom {

}
.contacts-list_item {
 
}
.contacts-list_item-link { 
    
}

/*# sourceMappingURL=style.css.map */
